body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.logo {
    font-family: "Didot", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    display: flex;
    text-decoration: none;
    color: #000000;
}

.logobox {
    padding: 2em 2em;
}

.nav-container {
    left: 2em;
    bottom: 9em;
    position: fixed;
    width: 200px;
    height: 270px;
    background: rgba(255, 255, 255, 0.45);
    padding: 1em;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

.borderLeftRight {
    display: inline-block;
    position: relative;
    color: hsl(222, 25%, 14%);
  }
  
  
  .borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  


nav ul {
    padding: .5em 0;
    z-index: 2;
}

nav ul li {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    align-items: center;
    margin-bottom: .25em;
}

nav ul li a {
    display: inline-block;
    position: relative;
    color: hsl(222, 25%, 14%);
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: hsl(0, 72%, 55%);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul li ul li {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.container {
    left: 15%;
    bottom: 6%;
    right: 4%;
    top: 18%;
    position: fixed;
    z-index: 0;
    
}

img {
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


.bottom-right {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.link {
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: white;
}

